/* 
    Document   : sc_our_team
    Created on : Jun 23, 2014, 7:07:26 PM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/

/**
* Grid CSS
*/
.grid#sc_our_team{
    overflow: hidden;
    width: 100%;
}
.grid#sc_our_team .sc_team_member{
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    
}
.grid#sc_our_team .sc_team_member .icons{
    margin-top: 70%;
}
.grid#sc_our_team .sc_team_member .icons img{
    width: 25px;
    margin-right: 5px;

}
.grid#sc_our_team .sc_team_member .sc_team_member_jobtitle,
.grid#sc_our_team .sc_team_member .sc_team_member_name{
    height: 15px;
}
.grid#sc_our_team .sc_team_member img.wp-post-image{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    float: none;
    border: none;
    padding: 0;
}
.grid#sc_our_team .sc_team_member .sc_team_member_name{
    font-weight: bold;
    font-size: 16px;
}

.grid#sc_our_team .sc_team_member_inner{
    height: 200px;
    width: 200px;
    overflow: hidden;
    background-size: cover;     
    position: relative;
    text-align: center;
    background: #404040;
}
.grid#sc_our_team .sc_team_member .sc_team_member_overlay{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    height: 35px;
    color: #fff;
    background: rgba(50,50,50,0.5);
}
@media (min-width: 768px){
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 25%;
    }
    .grid#sc_our_team .sc_team_member img.wp-post-image{

    }
    .grid#sc_our_team .sc_team_member_inner{
        
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 33.33%;
    }
}
@media (max-width: 480px){
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 50%;
    }
}

/**
* Circles CSS
**/
.grid_circles#sc_our_team .sc_team_member{
    float: left;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
    box-shadow:
        0 0 0 4px #fff,
        0 0 0 7px #E2E2E2;
    position: relative;
    
}
.grid_circles#sc_our_team .sc_team_member .wp-post-image{
    border: none;
    padding: 0;
    float: none;
    margin: 0;   
    width: 150px;
    height: 150px;
    
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(50,50,50,0.7);
    color: #ffffff;
    display: none;
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name{
    margin-top: 30px;
    font-size: 18px;
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay .icons a{
    margin-right: 5px;
}
.grid_circles#sc_our_team .icons img{
    width: 25px;
}

/**
* widget css
*/
.widget#sc_our_team .sc_team_member{
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.widget#sc_our_team .sc_team_member .wp-post-image{
    float: left;
    width: 25%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    box-sizing: border-box;
    margin: 0;
}
.widget#sc_our_team .sc_team_member .sc_team_member_overlay{
    float: left;
    width: 75%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.widget#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name{
    font-weight: bold;
}
/**
* single post
*/
.sc_team_single_icons img.sc-social{
    width: 25px;
    margin-right: 10px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}