/* 
    Document   : sc_our_team
    Created on : Jun 23, 2014, 7:07:26 PM
    Author     : Bilal
    Description:
        Purpose of the stylesheet follows.
*/

.left{ float: left; box-sizing: border-box; }

.sc_team_member .sc_team_member_name a{ text-decoration: none;}
#sc_our_team_lightbox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.75);
    display: none;
}
#sc_our_team_lightbox .icons{ display: none;}

#sc_our_team_lightbox .sc_our_team_lightbox .social a{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}
#sc_our_team_lightbox .sc_our_team_lightbox .social a img{
    width: 25px;
}
#sc_our_team_lightbox .progress{
    height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);    
}
#sc_our_team_lightbox .title{
    font-weight: 600;
    font-size: 18px;
}
#sc_our_team_lightbox .sc_our_team_lightbox .social{
    text-align: center;
}
#sc_our_team_lightbox .sc_our_team_lightbox{
    box-shadow: 0 0 4px #fff;
    -moz-box-shadow: 0 0 4px #fff;
    -webkit-box-shadow: 0 0 4px #fff;
    overflow: hidden;
    display: none;
    background: #fff;
    width: 100%;
}
.sc_our_team_lightbox.honeycomb .social img{
    display: inline-block !important;
}
.sc_our_team_lightbox .image.circle{
    width: 155px;
    height: 155px;
    border-radius: 100%;
}
/**
* Grid CSS
*/
.grid#sc_our_team{
    overflow: hidden;
    width: 100%;
}
.grid#sc_our_team .sc_team_member{
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    
}
.grid#sc_our_team .sc_team_member .sc_team_skills,
.honeycombs#sc_our_team .sc_team_member .sc_team_skills{
    display: none;
}
.grid#sc_our_team .sc_team_member:hover .sc_team_member_name,
.grid#sc_our_team .sc_team_member:hover .sc_team_member_jobtitle,
.grid_circles#sc_our_team .sc_team_member:hover .sc_team_member_name,
.grid_circles#sc_our_team .sc_team_member:hover .sc_team_member_jobtitle{
    left: -100%;
}
.grid#sc_our_team .sc_team_member:hover .wp-post-image{


}


.grid#sc_our_team .sc_team_member .wp-post-image{
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
}
.grid#sc_our_team .sc_team_member .wp-post-image.zoomIn{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.grid#sc_our_team .sc_team_member .icons{
    z-index: 9;
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    text-align: center;
    /*display: none;*/
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;    
    /*opacity: 0;*/
}
.grid_circles#sc_our_team .sc_team_member .icons{
    opacity: 0;
    position: absolute;   
    text-align: center;    
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;  
    bottom: 20%;
    margin: 0 auto;
    display: block;
    width: 100%;
    z-index: 9;
    
}
.honeycombs#sc_our_team .sc_team_member .icons{
    position: absolute;
    bottom: 20px;
    z-index: 999;
}
.grid#sc_our_team .sc_team_member .icons.hidden,
.grid_circles#sc_our_team .sc_team_member .icons.hidden,
.honeycombs#sc_our_team .sc_team_member .icons.hidden{
    display: none;
}
.grid#sc_our_team .sc_team_member .sc_team_content,
.grid_circles#sc_our_team .sc_team_member .sc_team_content,
.honeycombs#sc_our_team .sc_team_member .sc_team_content{
    display: none;
}

.grid#sc_our_team .sc_team_member:hover .icons{

    bottom: 20px;
}

.grid_circles#sc_our_team .sc_team_member:hover .icons{
    opacity: 1;
}

.grid#sc_our_team .sc_team_member .icons img,
.grid_circles#sc_our_team .sc_team_member .icons img{
    width: 25px;
    margin-right: 5px;

}
.grid#sc_our_team .sc_team_member .sc_team_member_jobtitle,
.grid#sc_our_team .sc_team_member .sc_team_member_name,
.grid_circles#sc_our_team .sc_team_member .sc_team_member_jobtitle,
.grid_circles#sc_our_team .sc_team_member .sc_team_member_name{
    height: 24px;
    line-height: 26px;
}
.grid#sc_our_team .sc_team_member img.wp-post-image{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    float: none;
    border: none;
    padding: 0;
}
.grid#sc_our_team .sc_team_member .sc_team_member_name{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 5px 10px;
    height: 30px;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
    overflow: hidden;
}

.grid_circles#sc_our_team .sc_team_member .sc_team_member_name{
    position: absolute;
    top: 40%;
    left: 0;
    margin: 0 auto;
    width: 70%;
    display: block;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out; 
    opacity: 0.9;
}

.grid#sc_our_team .sc_team_member .sc_team_member_jobtitle{
    position: absolute;
    padding: 5px 10px;
    bottom: 10px;
    left: 0;
    height: 30px;
    line-height: 25px;
    color: #ffffff;
    transition: 0.35s all ease-in-out;
    -moz-transition: 0.35s all ease-in-out;
    -webkit-transition: 0.35s all ease-in-out;    
}

.grid_circles#sc_our_team .sc_team_member .sc_team_member_jobtitle{
    position: absolute;
    top: 40%;
    left: 0;
    margin: 24px auto;
    width: 75%;
    display: block;    
    color: #ffffff;
    transition: 0.30s all ease-in-out;
    -moz-transition: 0.30s all ease-in-out;
    -webkit-transition: 0.30s all ease-in-out;        
    opacity: 0.9;
}
#sc_our_team .sc_team_member_inner{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.grid#sc_our_team .sc_team_member_inner{
    height: 170px;
    overflow: hidden;
    background-size: cover;     
    position: relative;
    text-align: center;
    background: #404040;
}
.grid#sc_our_team .sc_team_member .sc_team_member_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    color: #fff;
    background: rgba(50,50,50,0.5);
    display: none;
}
.grid#sc_our_team .sc_team_member .sc_team_more,
.grid_circles#sc_our_team .sc_team_member .sc_team_more{
    position: absolute;
    margin-top: -25px;
    width: 100%;
    transition: 0.45s all ease-in-out;
    -moz-transition: 0.45s all ease-in-out;
    -webkit-transition: 0.45s all ease-in-out;
    top: -25px;
}
.grid#sc_our_team .sc_team_member .sc_team_more.show,
.grid_circles#sc_our_team .sc_team_member .sc_team_more.show{
    top: 50%;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.grid#sc_our_team .sc_team_member .sc_team_member_name a,
.grid_circles#sc_our_team .sc_team_member .sc_team_member_name a{
    color: #fff;
}
.sc_team_single_member{
    overflow: hidden;
    
}

.sc_team_single_member .sc_single_side .social{
    margin: 10px 0 0 0;
}
.sc_team_single_member .sc_single_side .social li{
    margin-bottom: 10px;
    list-style: none;
}
.sc_team_single_member .sc_single_side .social li a{
    text-decoration: none;
}
.sc_team_single_member .sc_single_side .social .sc-social{
    width: 25px;
    position: relative;
    top: 7px;
    padding-right: 5px;

}
.sc_team_single_member .sc_single_side .name{
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 7px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #333;
    font-weight: 400;
}
.sc_team_single_member .sc_single_side .title{
    text-align: center;
    font-weight: 400;
    
}
.sc_team_single_member .circle .wp-post-image{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;    
}
.sc_team_single_skills{
    
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(51, 122, 183);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.sc_team_single_member .inner{
    background: rgba(150,150,150,0.2);
    padding: 15px;
    margin-bottom: 15px;
}

/**
* Circles CSS
**/
.grid_circles#sc_our_team .sc_team_member{
    float: left;

    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    box-shadow:
        0 0 0 4px #fff,
        0 0 0 7px #E2E2E2;
    position: relative;
    
}
.grid_circles#sc_our_team .sc_team_member:hover .wp-post-image{

}
.grid_circles#sc_our_team .sc_team_member .wp-post-image{
    border: none;
    padding: 0;
    float: none;
    margin: 0;
    width: 100%;
    height: 100%;

    
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(50,50,50,0.7);
    color: #ffffff;
    display: none;
    border-radius: 100%;
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name{
    margin-top: 30px;
    font-size: 18px;
}
.grid_circles#sc_our_team .sc_team_member .sc_team_member_overlay .icons a{
    margin-right: 5px;
}
.grid_circles#sc_our_team .icons img{
    width: 25px;
}
/**
* Stacked css
**/
.stacked#sc_our_team .sc_team_member{
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #333;
    padding-top: 15px;
    margin-bottom: 15px;
    clear: both;
}

.stacked#sc_our_team .sc_team_member .sc_team_member_left{
    float: left;
    width: 25%;
    text-align: center;
}
.stacked#sc_our_team .sc_team_member .sc_team_member_right{
    float: right;
    width: 70%;
}
.stacked#sc_our_team .sc_team_member .wp-post-image{
    width: 100%;
}
.stacked#sc_our_team .sc_team_member .sc_team_member_name{
    
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #404040;    
}
.stacked#sc_our_team .sc_team_member .sc_team_member_jobtitle{
    line-height: 20px;
    margin: 10px 0;
}
.stacked#sc_our_team .sc_team_member .sc_team_member_name a{
    text-decoration: none;
}

.stacked#sc_our_team .sc_team_member .sc_team_skills{
    display: none;
}
.stacked#sc_our_team .sc_team_member .icons{
    
}
.stacked#sc_our_team .icons img{
    width: 30px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.stacked#sc_our_team .icons img:hover{
/*    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);*/
}
/**
* widget css
*/
.widget#sc_our_team .sc_team_member{
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.widget#sc_our_team .sc_team_member .wp-post-image{
    float: left;
    width: 25%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    box-sizing: border-box;
    margin: 0;
}
.widget#sc_our_team .sc_team_member .sc_team_member_overlay{
    float: left;
    width: 75%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.widget#sc_our_team .sc_team_member .sc_team_member_overlay .sc_team_member_name{
    font-weight: bold;
}

/**
* honeycomb
**/
.honeycombs{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.honeycombs .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color: #000;
        opacity: 0.8;
}
.honeycombs .inner-text{
	padding-top: 35%;
        font-size: 18px;
}
.honeycombs .inner-text a{
    text-decoration: none;
}
.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	cursor: pointer;
}
/**
* single post
*/
.smartcat_team_single_icons img.sc-social{
    width: 25px;
    margin-right: 10px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


@media (min-width: 768px){
    
    #sc_our_team_lightbox .sc_our_team_lightbox{
        padding: 15px 0;
        margin: 0 auto;
        width: 750px;
        min-height: 300px;

        margin-top: 100px;
    }

    .sc_team_single_member .sc_single_side .title{
        font-size: 17px;
    }
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 25%;
    }
    #sc_our_team.sc-col3 .sc_team_member{
        width: 33.3%;
        /*margin: 1%;*/
    }
    #sc_our_team.sc-col4 .sc_team_member{
        width: 25%;
        /*margin: 1%;*/
    }
    #sc_our_team.sc-col2 .sc_team_member{
        width: 50%;
        /*margin: 1%;*/
    }
    #sc_our_team.sc-col5 .sc_team_member{
        width: 20%;
    }
    #sc_our_team.sc-col10 .sc_team_member{
        width: 10%;
    }
    
    
    #sc_our_team.grid_circles.sc-col3 .sc_team_member{
        width: 31%;
        margin: 1%;
    }
    #sc_our_team.grid_circles.sc-col4 .sc_team_member{
        width: 23%;
        margin: 1%;
    }
    #sc_our_team.grid_circles.sc-col2 .sc_team_member{
        width: 48%;
        margin: 1%;
    }
    #sc_our_team.sc-col5 .sc_team_member{
        width: 17%;
        margin: 1%;
    }
    #sc_our_team.sc-col10 .sc_team_member{
        width: 10%;
    }
    #sc_our_team .sc_team_member img.wp-post-image{

    }
    #sc_our_team .sc_team_member_inner{
        
    }
    
    .sc_team_single_member .sc_single_side{
        float: left;
        width: 25%;

        box-sizing: border-box;
        
    }
    .sc_team_single_member .sc_single_main{
        float: left;
        width: 71%;
        margin-left: 2%;
        padding: 15px;
        box-sizing: border-box;
        background: rgba(150,150,150,0.2);
    }
    .sc_team_single_member .sc_single_main.sc-skills{
        width: 46%;
        margin-right: 2%;
    }
    .sc_team_single_member .sc_team_single_skills{
        width: 25%;
        float: left;
        
    }
    .sc_team_single_member .wp-post-image{
        width: 100%;
    }
    
    .width25{
        width: 25%;
        padding: 0 15px;
    }
    .width50{
        width: 50%;
        padding: 0 15px;        
    }
    .width75{
        width: 75%;
        padding: 0 15px;        
    }
    
}

@media (min-width: 481px) and (max-width: 767px){
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 33.33%;
    }
}
@media (max-width: 480px){
    .grid#sc_our_team .sc_team_member{
        float: left;
        width: 50%;
    }
}
